<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.wu.dao.DictionaryMapper">
    <resultMap id="BaseResultMap" type="com.forest.wu.pojo.Dictionary">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="typeCode" jdbcType="VARCHAR" property="typeCode"/>
        <result column="typeName" jdbcType="VARCHAR" property="typeName"/>
        <result column="valueId" jdbcType="INTEGER" property="valueId"/>
        <result column="valueName" jdbcType="VARCHAR" property="valueName"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, typeCode, typeName, valueId, valueName
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dictionary
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.forest.wu.pojo.Dictionary">
    insert into dictionary (id, typeCode, typeName, 
      valueId, valueName, createdBy, 
      creationDate, modifyBy, modifyDate
      )
    values (#{id,jdbcType=INTEGER}, #{typeCode,jdbcType=VARCHAR}, #{typeName,jdbcType=VARCHAR}, 
      #{valueId,jdbcType=INTEGER}, #{valueName,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.forest.wu.pojo.Dictionary">
        insert into dictionary
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="typeCode != null">
                typeCode,
            </if>
            <if test="typeName != null">
                typeName,
            </if>
            <if test="valueId != null">
                valueId,
            </if>
            <if test="valueName != null">
                valueName,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="typeCode != null">
                #{typeCode,jdbcType=VARCHAR},
            </if>
            <if test="typeName != null">
                #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="valueId != null">
                #{valueId,jdbcType=INTEGER},
            </if>
            <if test="valueName != null">
                #{valueName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.forest.wu.pojo.Dictionary">
        update dictionary
        <set>
            <if test="typeCode != null">
                typeCode = #{typeCode,jdbcType=VARCHAR},
            </if>
            <if test="typeName != null">
                typeName = #{typeName,jdbcType=VARCHAR},
            </if>
            <if test="valueId != null">
                valueId = #{valueId,jdbcType=INTEGER},
            </if>
            <if test="valueName != null">
                valueName = #{valueName,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.forest.wu.pojo.Dictionary">
    update dictionary
    set typeCode = #{typeCode,jdbcType=VARCHAR},
      typeName = #{typeName,jdbcType=VARCHAR},
      valueId = #{valueId,jdbcType=INTEGER},
      valueName = #{valueName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!--根据typeCode查找数据-->
    <select id="selectByTypeCode" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dictionary
        where typeCode=#{typeCode}
    </select>

  <!--任一-->
  <select id="selectGoodsStatus" resultType="com.forest.wu.pojo.Dictionary">
    select *
    from dictionary
    where typeCode = 'goodsStatus';
  </select>
</mapper>