<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.wu.dao.Order_infoMapper">
    <resultMap id="BaseResultMap" type="com.forest.wu.pojo.Order_info">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="sName" jdbcType="VARCHAR" property="sName"/>
        <result column="gName" jdbcType="VARCHAR" property="gName"/>
        <result column="sTel" jdbcType="VARCHAR" property="sTel"/>
        <result column="gTel" jdbcType="VARCHAR" property="gTel"/>
        <result column="cityId" jdbcType="INTEGER" property="cityId"/>
        <result column="branchId" jdbcType="INTEGER" property="branchId"/>
        <result column="sAddress" jdbcType="VARCHAR" property="sAddress"/>
        <result column="gAddress" jdbcType="VARCHAR" property="gAddress"/>
        <result column="doorTime" jdbcType="TIMESTAMP" property="doorTime"/>
        <result column="typeId" jdbcType="INTEGER" property="typeId"/>
        <result column="product" jdbcType="VARCHAR" property="product"/>
        <result column="preWeight" jdbcType="DOUBLE" property="preWeight"/>
        <result column="comment" jdbcType="VARCHAR" property="comment"/>
        <result column="orderNumber" jdbcType="VARCHAR" property="orderNumber"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="preVolume" jdbcType="VARCHAR" property="preVolume"/>
        <result column="riseTime" jdbcType="TIMESTAMP" property="riseTime"/>
        <result column="finishTime" jdbcType="TIMESTAMP" property="finishTime"/>
        <result column="reasonForCancle" jdbcType="VARCHAR" property="reasonForCancle"/>
        <result column="userId" jdbcType="BIGINT" property="userId"/>
        <result column="entrust" jdbcType="INTEGER" property="entrust"/>
        <result column="courierNumber" jdbcType="INTEGER" property="courierNumber"/>
        <result column="entrustNumber" jdbcType="INTEGER" property="entrustNumber"/>
        <association property="organization" javaType="com.forest.wu.pojo.Organization">
            <id column="id" property="id"/>
            <result column="name" property="pointName"/>
        </association>
    </resultMap>
    <sql id="Base_Column_List">
    id, sName, gName, sTel, gTel, cityId, branchId, sAddress, gAddress, doorTime, typeId,
    product, preWeight, comment, orderNumber, status, preVolume, riseTime, finishTime,
    reasonForCancle, userId, entrust, courierNumber, entrustNumber
  </sql>

    <!--肖林辉
       根据Order_infor中orderid 查询对应订单的信息
       返回订单集合
     -->
    <select id="selectOneOrderByCourier" parameterType="int" resultType="com.forest.wu.pojo.Order_info">
        select ord.*,og.name as pointName
        from order_info  ord,Organization og
        where ord.id = #{id} and  ord.branchId = og.id
    </select>


    <!--肖林辉
    查询登录的快递员的   状态为预约状态的所有订单
    返回订单集合
  -->
    <select id="selectAllOrder" resultType="com.forest.wu.pojo.Order_info">
        select
        <include refid="Base_Column_List"/>
        from order_info as o
        where 1=1 and status=1
        <if test="courierNumber != null">
            and courierNumber = #{courierNumber}
        </if>
    </select>

    <!--肖林辉
     模糊查询,根据条件查询
     返回订单集合
   -->
    <select id="selectSomeOrder" parameterType="com.forest.wu.pojo.Order_info"
            resultType="com.forest.wu.pojo.Order_info">
        select
        <include refid="Base_Column_List"/>
        from order_info as o
        where
        1=1 and status = 1
        <if test="courierNumber != null">
            and courierNumber = #{courierNumber}
        </if>
        <if test="orderNumber != null">
            and orderNumber like concat('%',#{orderNumber},'%')
        </if>
        <if test="sName != null">
            and sName like concat('%',#{sName},'%')
        </if>
        <if test="sTel != null ">
            and sTel like concat('%',#{sTel},'%')
        </if>


        order by riseTime desc
    </select>

    <!--更新订单的状态-->
    <update id="updateOrderStatusByCourier" parameterType="com.forest.wu.pojo.Order_info">
        update order_info
        <set>

            status= 2,

        </set>
        where orderNumber = #{orderNumber}
    </update>

    <!--肖林辉-->
    <!--委托操作  更新订单的三个字段    entrust  courierNumber  entrustNumber-->
    <update id="updateOrderToWeituoStatus" parameterType="com.forest.wu.pojo.Order_info">
        update order_info
        <set>

            entrust = #{entrust,jdbcType=INTEGER},
            courierNumber = #{courierNumber,jdbcType=INTEGER},
            entrustNumber = #{entrustNumber,jdbcType=INTEGER}
        </set>
        where `id`= #{id}
    </update>


    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from order_info
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from order_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.forest.wu.pojo.Order_info">
    insert into order_info (id, sName, gName,
      sTel, gTel, cityId,
      branchId, sAddress, gAddress,
      doorTime, typeId, product,
      preWeight, comment, orderNumber,
      status, preVolume, riseTime,
      finishTime, reasonForCancle, userId,
      entrust, courierNumber, entrustNumber
      )
    values (#{id,jdbcType=INTEGER}, #{sName,jdbcType=VARCHAR}, #{gName,jdbcType=VARCHAR},
      #{sTel,jdbcType=VARCHAR}, #{gTel,jdbcType=VARCHAR}, #{cityId,jdbcType=INTEGER},
      #{branchId,jdbcType=INTEGER}, #{sAddress,jdbcType=VARCHAR}, #{gAddress,jdbcType=VARCHAR},
      #{doorTime,jdbcType=TIMESTAMP}, #{typeId,jdbcType=INTEGER}, #{product,jdbcType=VARCHAR},
      #{preWeight,jdbcType=DOUBLE}, #{comment,jdbcType=VARCHAR}, #{orderNumber,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{preVolume,jdbcType=VARCHAR}, #{riseTime,jdbcType=TIMESTAMP},
      #{finishTime,jdbcType=TIMESTAMP}, #{reasonForCancle,jdbcType=VARCHAR}, #{userId,jdbcType=BIGINT},
      #{entrust,jdbcType=INTEGER}, #{courierNumber,jdbcType=INTEGER}, #{entrustNumber,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.forest.wu.pojo.Order_info">
        insert into order_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="sName != null">
                sName,
            </if>
            <if test="gName != null">
                gName,
            </if>
            <if test="sTel != null">
                sTel,
            </if>
            <if test="gTel != null">
                gTel,
            </if>
            <if test="cityId != null">
                cityId,
            </if>
            <if test="branchId != null">
                branchId,
            </if>
            <if test="sAddress != null">
                sAddress,
            </if>
            <if test="gAddress != null">
                gAddress,
            </if>
            <if test="doorTime != null">
                doorTime,
            </if>
            <if test="typeId != null">
                typeId,
            </if>
            <if test="product != null">
                product,
            </if>
            <if test="preWeight != null">
                preWeight,
            </if>
            <if test="comment != null">
                comment,
            </if>
            <if test="orderNumber != null">
                orderNumber,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="preVolume != null">
                preVolume,
            </if>
            <if test="riseTime != null">
                riseTime,
            </if>
            <if test="finishTime != null">
                finishTime,
            </if>
            <if test="reasonForCancle != null">
                reasonForCancle,
            </if>
            <if test="userId != null">
                userId,
            </if>
            <if test="entrust != null">
                entrust,
            </if>
            <if test="courierNumber != null">
                courierNumber,
            </if>
            <if test="entrustNumber != null">
                entrustNumber,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="sName != null">
                #{sName,jdbcType=VARCHAR},
            </if>
            <if test="gName != null">
                #{gName,jdbcType=VARCHAR},
            </if>
            <if test="sTel != null">
                #{sTel,jdbcType=VARCHAR},
            </if>
            <if test="gTel != null">
                #{gTel,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                #{cityId,jdbcType=INTEGER},
            </if>
            <if test="branchId != null">
                #{branchId,jdbcType=INTEGER},
            </if>
            <if test="sAddress != null">
                #{sAddress,jdbcType=VARCHAR},
            </if>
            <if test="gAddress != null">
                #{gAddress,jdbcType=VARCHAR},
            </if>
            <if test="doorTime != null">
                #{doorTime,jdbcType=TIMESTAMP},
            </if>
            <if test="typeId != null">
                #{typeId,jdbcType=INTEGER},
            </if>
            <if test="product != null">
                #{product,jdbcType=VARCHAR},
            </if>
            <if test="preWeight != null">
                #{preWeight,jdbcType=DOUBLE},
            </if>
            <if test="comment != null">
                #{comment,jdbcType=VARCHAR},
            </if>
            <if test="orderNumber != null">
                #{orderNumber,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="preVolume != null">
                #{preVolume,jdbcType=VARCHAR},
            </if>
            <if test="riseTime != null">
                #{riseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="finishTime != null">
                #{finishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reasonForCancle != null">
                #{reasonForCancle,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="entrust != null">
                #{entrust,jdbcType=INTEGER},
            </if>
            <if test="courierNumber != null">
                #{courierNumber,jdbcType=INTEGER},
            </if>
            <if test="entrustNumber != null">
                #{entrustNumber,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.forest.wu.pojo.Order_info">
        update order_info
        <set>
            <if test="sName != null">
                sName = #{sName,jdbcType=VARCHAR},
            </if>
            <if test="gName != null">
                gName = #{gName,jdbcType=VARCHAR},
            </if>
            <if test="sTel != null">
                sTel = #{sTel,jdbcType=VARCHAR},
            </if>
            <if test="gTel != null">
                gTel = #{gTel,jdbcType=VARCHAR},
            </if>
            <if test="cityId != null">
                cityId = #{cityId,jdbcType=INTEGER},
            </if>
            <if test="branchId != null">
                branchId = #{branchId,jdbcType=INTEGER},
            </if>
            <if test="sAddress != null">
                sAddress = #{sAddress,jdbcType=VARCHAR},
            </if>
            <if test="gAddress != null">
                gAddress = #{gAddress,jdbcType=VARCHAR},
            </if>
            <if test="doorTime != null">
                doorTime = #{doorTime,jdbcType=TIMESTAMP},
            </if>
            <if test="typeId != null">
                typeId = #{typeId,jdbcType=INTEGER},
            </if>
            <if test="product != null">
                product = #{product,jdbcType=VARCHAR},
            </if>
            <if test="preWeight != null">
                preWeight = #{preWeight,jdbcType=DOUBLE},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="orderNumber != null">
                orderNumber = #{orderNumber,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="preVolume != null">
                preVolume = #{preVolume,jdbcType=VARCHAR},
            </if>
            <if test="riseTime != null">
                riseTime = #{riseTime,jdbcType=TIMESTAMP},
            </if>
            <if test="finishTime != null">
                finishTime = #{finishTime,jdbcType=TIMESTAMP},
            </if>
            <if test="reasonForCancle != null">
                reasonForCancle = #{reasonForCancle,jdbcType=VARCHAR},
            </if>
            <if test="userId != null">
                userId = #{userId,jdbcType=BIGINT},
            </if>
            <if test="entrust != null">
                entrust = #{entrust,jdbcType=INTEGER},
            </if>
            <if test="courierNumber != null">
                courierNumber = #{courierNumber,jdbcType=INTEGER},
            </if>
            <if test="entrustNumber != null">
                entrustNumber = #{entrustNumber,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.forest.wu.pojo.Order_info">
    update order_info
    set sName = #{sName,jdbcType=VARCHAR},
      gName = #{gName,jdbcType=VARCHAR},
      sTel = #{sTel,jdbcType=VARCHAR},
      gTel = #{gTel,jdbcType=VARCHAR},
      cityId = #{cityId,jdbcType=INTEGER},
      branchId = #{branchId,jdbcType=INTEGER},
      sAddress = #{sAddress,jdbcType=VARCHAR},
      gAddress = #{gAddress,jdbcType=VARCHAR},
      doorTime = #{doorTime,jdbcType=TIMESTAMP},
      typeId = #{typeId,jdbcType=INTEGER},
      product = #{product,jdbcType=VARCHAR},
      preWeight = #{preWeight,jdbcType=DOUBLE},
      comment = #{comment,jdbcType=VARCHAR},
      orderNumber = #{orderNumber,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      preVolume = #{preVolume,jdbcType=VARCHAR},
      riseTime = #{riseTime,jdbcType=TIMESTAMP},
      finishTime = #{finishTime,jdbcType=TIMESTAMP},
      reasonForCancle = #{reasonForCancle,jdbcType=VARCHAR},
      userId = #{userId,jdbcType=BIGINT},
      entrust = #{entrust,jdbcType=INTEGER},
      courierNumber = #{courierNumber,jdbcType=INTEGER},
      entrustNumber = #{entrustNumber,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!--任一-->
    <select id="getMyOrderCount" resultType="int">
        select count(*) as count
        from order_info
        <trim prefix="where" prefixOverrides="and | or">
            <if test="userId != null">
                and userId = #{userId}
            </if>
            <if test="orderNumber != null">
                and orderNumber = #{orderNumber}
            </if>
            <if test="gName != null">
                and gName = #{gName}
            </if>
            <if test="gTel != null">
                and gTel = #{gTel}
            </if>
            <if test="status != null">
                and status = #{status}
            </if>
        </trim>
    </select>

    <!--任一-->
    <select id="getMyOrderList" resultType="com.forest.wu.pojo.Order_info">
        SELECT a.*,
        (SELECT valueName FROM dictionary WHERE typeCode = 'orderStatus' AND valueId = a.status)AS statusName,
        (SELECT valueName FROM dictionary WHERE typeCode = 'isPay'AND valueId =
            (SELECT isPay FROM workorder WHERE orderNum = a.`orderNumber`)) AS isPay,
        (select expenses from workorder where orderNum = a.orderNumber) as expenses
        FROM order_info a
        <trim prefix="where" prefixOverrides="and | or">
            <if test="userId != null">
                and a.userId = #{userId}
            </if>
            <if test="orderNumber != null">
                and a.orderNumber = #{orderNumber}
            </if>
            <if test="gName != null">
                and a.gName = #{gName}
            </if>
            <if test="gTel != null">
                and a.gTel = #{gTel}
            </if>
            <if test="status != null">
                and a.status = #{status}
            </if>
        </trim>
        order by id DESC
        limit #{from},#{pageSize}
    </select>

    <!--任一-->
    <select id="getMyOrderInfo" resultType="com.forest.wu.pojo.Order_info">
        select a.*,
        (select name from organization where id = a.cityId) as sCityName,
        (select name from organization where id = a.branchId) as sBranchName,
        (select name from organization where id = (
        select gCity from workorder where orderNum = a.orderNumber)) as gCityName,
        (select name from organization where id = (
        select gPoint from workorder where orderNum = a.orderNumber)) as gBranchName,
        (select productLocation from workorder where orderNum = a.orderNumber) as productLocation,
        (select valueName from dictionary where typeCode = 'orderStatus'
        and valueId = a.status) as statusName,
        (select valueName from dictionary where typeCode = 'goodsStatus'
        and valueId = a.typeId) as typeName,
        (select expenses from workorder where orderNum = a.orderNumber) as expenses
        from order_info a
        where id = #{id}
    </select>

    <!--任一-->
    <update id="offOrderById" parameterType="Integer">
        update order_info
        set status = 4
        where id = #{id}
    </update>


    <!--查询最近7天的订单数量-->

    <select id="selectOrderCount" parameterType="java.lang.Integer" resultType="java.lang.Integer">
       SELECT count(1) FROM order_info WHERE DATEDIFF(riseTime,NOW())=#{day}
    </select>

    <!--任一-->
    <select id="getMonthOrder" resultType="java.lang.Integer">
        select count(*) from order_info
        where userId = #{userId} and riseTime between #{start} and #{end}
    </select>


    <!--肖林辉 -->

    <update id="updateByOrderNum" parameterType="com.forest.wu.pojo.Order_info">
        update order_info
        <set>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>

        </set>
        where orderNumber = #{orderNumber}


    </update>
</mapper>