<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.dao.PointMapper">
  <resultMap id="BaseResultMap" type="com.forest.wu.pojo.Point">
    <id column="pointId" jdbcType="INTEGER" property="pointId" />
    <result column="branchname" jdbcType="VARCHAR" property="branchname" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="time" jdbcType="DATE" property="time" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="networkname" jdbcType="VARCHAR" property="networkname" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="sonCompanyid" jdbcType="INTEGER" property="sonCompanyid" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="leader" jdbcType="VARCHAR" property="leader" />
    <result column="manager" jdbcType="VARCHAR" property="manager" />
  </resultMap>
  <sql id="Base_Column_List">
    pointId, branchname, password, email, time, phone, networkname, address, sonCompanyid, 
    role, leader, manager
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from point
    where pointId = #{pointId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from point
    where pointId = #{pointId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.forest.wu.pojo.Point">
    insert into point (pointId, branchname, password, 
      email, time, phone, networkname, 
      address, sonCompanyid, role, 
      leader, manager)
    values (#{pointId,jdbcType=INTEGER}, #{branchname,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{time,jdbcType=DATE}, #{phone,jdbcType=VARCHAR}, #{networkname,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{sonCompanyid,jdbcType=INTEGER}, #{role,jdbcType=VARCHAR}, 
      #{leader,jdbcType=VARCHAR}, #{manager,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.forest.wu.pojo.Point">
    insert into point
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pointId != null">
        pointId,
      </if>
      <if test="branchname != null">
        branchname,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="networkname != null">
        networkname,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="sonCompanyid != null">
        sonCompanyid,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="leader != null">
        leader,
      </if>
      <if test="manager != null">
        manager,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pointId != null">
        #{pointId,jdbcType=INTEGER},
      </if>
      <if test="branchname != null">
        #{branchname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        #{time,jdbcType=DATE},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="networkname != null">
        #{networkname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="sonCompanyid != null">
        #{sonCompanyid,jdbcType=INTEGER},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        #{leader,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        #{manager,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.forest.wu.pojo.Point">
    update point
    <set>
      <if test="branchname != null">
        branchname = #{branchname,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=DATE},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="networkname != null">
        networkname = #{networkname,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="sonCompanyid != null">
        sonCompanyid = #{sonCompanyid,jdbcType=INTEGER},
      </if>
      <if test="role != null">
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="leader != null">
        leader = #{leader,jdbcType=VARCHAR},
      </if>
      <if test="manager != null">
        manager = #{manager,jdbcType=VARCHAR},
      </if>
    </set>
    where pointId = #{pointId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.forest.wu.pojo.Point">
    update point
    set branchname = #{branchname,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      time = #{time,jdbcType=DATE},
      phone = #{phone,jdbcType=VARCHAR},
      networkname = #{networkname,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      sonCompanyid = #{sonCompanyid,jdbcType=INTEGER},
      role = #{role,jdbcType=VARCHAR},
      leader = #{leader,jdbcType=VARCHAR},
      manager = #{manager,jdbcType=VARCHAR}
    where pointId = #{pointId,jdbcType=INTEGER}
  </update>
</mapper>