<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.wu.dao.ReturnMapper">
  <resultMap id="BaseResultMap" type="com.forest.wu.pojo.Return">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="gid" jdbcType="VARCHAR" property="gid" />
    <result column="yid" jdbcType="VARCHAR" property="yid" />
    <result column="result" jdbcType="VARCHAR" property="result" />
    <result column="ctreaTime" jdbcType="TIMESTAMP" property="ctreaTime" />
    <result column="gName" jdbcType="VARCHAR" property="gName" />
    <result column="gPhone" jdbcType="VARCHAR" property="gPhone" />
    <result column="gCity" jdbcType="VARCHAR" property="gCity" />
    <result column="gPoint" jdbcType="VARCHAR" property="gPoint" />
    <result column="gAddress" jdbcType="VARCHAR" property="gAddress" />
    <result column="sName" jdbcType="VARCHAR" property="sName" />
    <result column="sPhone" jdbcType="VARCHAR" property="sPhone" />
    <result column="sCity" jdbcType="VARCHAR" property="sCity" />
    <result column="sPoint" jdbcType="VARCHAR" property="sPoint" />
    <result column="sAddress" jdbcType="VARCHAR" property="sAddress" />
    <result column="auditTime" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="comment" jdbcType="VARCHAR" property="comment" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gid, yid, result, ctreaTime, gName, gPhone, gCity, gPoint, gAddress, sName, sPhone, 
    sCity, sPoint, sAddress, auditTime, status, comment
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from return
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from return
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.forest.wu.pojo.Return">
    insert into return (id, gid, yid, 
      result, ctreaTime, gName, 
      gPhone, gCity, gPoint, 
      gAddress, sName, sPhone, 
      sCity, sPoint, sAddress, 
      auditTime, status, comment
      )
    values (#{id,jdbcType=VARCHAR}, #{gid,jdbcType=VARCHAR}, #{yid,jdbcType=VARCHAR}, 
      #{result,jdbcType=VARCHAR}, #{ctreaTime,jdbcType=TIMESTAMP}, #{gName,jdbcType=VARCHAR}, 
      #{gPhone,jdbcType=VARCHAR}, #{gCity,jdbcType=VARCHAR}, #{gPoint,jdbcType=VARCHAR}, 
      #{gAddress,jdbcType=VARCHAR}, #{sName,jdbcType=VARCHAR}, #{sPhone,jdbcType=VARCHAR}, 
      #{sCity,jdbcType=VARCHAR}, #{sPoint,jdbcType=VARCHAR}, #{sAddress,jdbcType=VARCHAR}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{status,jdbcType=INTEGER}, #{comment,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.forest.wu.pojo.Return">
    insert into return
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gid != null">
        gid,
      </if>
      <if test="yid != null">
        yid,
      </if>
      <if test="result != null">
        result,
      </if>
      <if test="ctreaTime != null">
        ctreaTime,
      </if>
      <if test="gName != null">
        gName,
      </if>
      <if test="gPhone != null">
        gPhone,
      </if>
      <if test="gCity != null">
        gCity,
      </if>
      <if test="gPoint != null">
        gPoint,
      </if>
      <if test="gAddress != null">
        gAddress,
      </if>
      <if test="sName != null">
        sName,
      </if>
      <if test="sPhone != null">
        sPhone,
      </if>
      <if test="sCity != null">
        sCity,
      </if>
      <if test="sPoint != null">
        sPoint,
      </if>
      <if test="sAddress != null">
        sAddress,
      </if>
      <if test="auditTime != null">
        auditTime,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="comment != null">
        comment,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="gid != null">
        #{gid,jdbcType=VARCHAR},
      </if>
      <if test="yid != null">
        #{yid,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        #{result,jdbcType=VARCHAR},
      </if>
      <if test="ctreaTime != null">
        #{ctreaTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gName != null">
        #{gName,jdbcType=VARCHAR},
      </if>
      <if test="gPhone != null">
        #{gPhone,jdbcType=VARCHAR},
      </if>
      <if test="gCity != null">
        #{gCity,jdbcType=VARCHAR},
      </if>
      <if test="gPoint != null">
        #{gPoint,jdbcType=VARCHAR},
      </if>
      <if test="gAddress != null">
        #{gAddress,jdbcType=VARCHAR},
      </if>
      <if test="sName != null">
        #{sName,jdbcType=VARCHAR},
      </if>
      <if test="sPhone != null">
        #{sPhone,jdbcType=VARCHAR},
      </if>
      <if test="sCity != null">
        #{sCity,jdbcType=VARCHAR},
      </if>
      <if test="sPoint != null">
        #{sPoint,jdbcType=VARCHAR},
      </if>
      <if test="sAddress != null">
        #{sAddress,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        #{comment,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.forest.wu.pojo.Return">
    update return
    <set>
      <if test="gid != null">
        gid = #{gid,jdbcType=VARCHAR},
      </if>
      <if test="yid != null">
        yid = #{yid,jdbcType=VARCHAR},
      </if>
      <if test="result != null">
        result = #{result,jdbcType=VARCHAR},
      </if>
      <if test="ctreaTime != null">
        ctreaTime = #{ctreaTime,jdbcType=TIMESTAMP},
      </if>
      <if test="gName != null">
        gName = #{gName,jdbcType=VARCHAR},
      </if>
      <if test="gPhone != null">
        gPhone = #{gPhone,jdbcType=VARCHAR},
      </if>
      <if test="gCity != null">
        gCity = #{gCity,jdbcType=VARCHAR},
      </if>
      <if test="gPoint != null">
        gPoint = #{gPoint,jdbcType=VARCHAR},
      </if>
      <if test="gAddress != null">
        gAddress = #{gAddress,jdbcType=VARCHAR},
      </if>
      <if test="sName != null">
        sName = #{sName,jdbcType=VARCHAR},
      </if>
      <if test="sPhone != null">
        sPhone = #{sPhone,jdbcType=VARCHAR},
      </if>
      <if test="sCity != null">
        sCity = #{sCity,jdbcType=VARCHAR},
      </if>
      <if test="sPoint != null">
        sPoint = #{sPoint,jdbcType=VARCHAR},
      </if>
      <if test="sAddress != null">
        sAddress = #{sAddress,jdbcType=VARCHAR},
      </if>
      <if test="auditTime != null">
        auditTime = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="comment != null">
        comment = #{comment,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.forest.wu.pojo.Return">
    update return
    set gid = #{gid,jdbcType=VARCHAR},
      yid = #{yid,jdbcType=VARCHAR},
      result = #{result,jdbcType=VARCHAR},
      ctreaTime = #{ctreaTime,jdbcType=TIMESTAMP},
      gName = #{gName,jdbcType=VARCHAR},
      gPhone = #{gPhone,jdbcType=VARCHAR},
      gCity = #{gCity,jdbcType=VARCHAR},
      gPoint = #{gPoint,jdbcType=VARCHAR},
      gAddress = #{gAddress,jdbcType=VARCHAR},
      sName = #{sName,jdbcType=VARCHAR},
      sPhone = #{sPhone,jdbcType=VARCHAR},
      sCity = #{sCity,jdbcType=VARCHAR},
      sPoint = #{sPoint,jdbcType=VARCHAR},
      sAddress = #{sAddress,jdbcType=VARCHAR},
      auditTime = #{auditTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=INTEGER},
      comment = #{comment,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>