<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.forest.wu.dao.UserMapper">
  <resultMap id="BaseResultMap" type="com.forest.wu.pojo.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="logo" jdbcType="VARCHAR" property="logo" />
    <result column="parentid" jdbcType="INTEGER" property="parentid" />
    <result column="type" jdbcType="INTEGER" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    id, username, password, email, phone, sex, logo, parentid, type
  </sql>


    <!--更新一个订单对象信息-->
    <update id="updateOrder_info" >
        update  order_info set
            sTel = #{sTel},
            sAddress = #{sAddress},
            product = #{product},
            sName = #{sName},
            gTel = #{gTel},
            gAddress = #{gAddress},
            preWeight=#{preWeight},
            orderNumber = #{orderNumber},
            comment=#{comment}
    where id = #{id}
    </update>



    <!--通过id查询一个订单对象-->
    <select id="selectOrder_Info" resultType="com.forest.wu.pojo.Order_info">

        select * from order_info where id =#{id}

    </select>
    <!--查询订单-->
    <select id="selectOrder" resultType="com.forest.wu.pojo.Order_info">
        select * from order_info  where 1=1
        <if test="id!=null">
            and id =#{id}

        </if>

        <if test="sTel!=null">
            and sTel =#{sTel}

        </if>
        <if test="status!=null">
            and status=#{status}

        </if>
        <if test="gName!=null">
            and gName like concat('%',#{gName},'%')

        </if>

    </select>


    <!--更新修改一个快递员信息-->
    <update id="updateUser" >
        update user set username=#{username},email=#{email},phone=#{phone},
        sex=#{sex},parentid=#{parentid},type=#{type} where id=#{id}
    </update>



<!--通过id查询出一个快递员对象-->
    <select id="getUser" resultType="com.forest.wu.pojo.User">
        select *from  user where id=#{id}
    </select>


    <!--模糊查询，按id，username，phone，email。查询对应的快递员-->
  <select id="selectUser" resultType="com.forest.wu.pojo.User">
     select * from user where type=3
      <if test="id!=''">
        and id like concat('%',#{id},'%')
      </if>
     <if test="username!=''">
        and username like concat('%',#{username},'%')
     </if>
    <if test="phone!=''">
      and phone like concat('%',#{phone},'%')
    </if>
    <if test="email!=''">
      and email like concat('%',#{email},'%')
    </if>

    order by time limit #{pageNo},#{pageSize}

  </select>

   <!--按id，username，phone，email，模糊查询，type类型为3，也就是快递员查询总记录数-->
<select id="count" resultType="int" >

  select count(1) from user where type =3
  <if test="id!=''">
    and id like concat('%',#{id},'%')
  </if>
  <if test="username!=''">
    and username like concat('%',#{username},'%')
  </if>
  <if test="phone!=''">
    and phone like concat('%',#{phone},'%')
  </if>
  <if test="email!=''">
    and email like concat('%',#{email},'%')
  </if>

</select>
  <!--<select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.forest.wu.pojo.User">
    insert into user (id, username, password, 
      email, phone, sex, 
      logo, parentid, type
      )
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, #{type,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.forest.wu.pojo.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="logo != null">
        logo,
      </if>
      <if test="parentid != null">
        parentid,
      </if>
      <if test="type != null">
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.forest.wu.pojo.User">
    update user
    <set>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="logo != null">
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null">
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.forest.wu.pojo.User">
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>-->
  <!-- 查找用户表所需的登录信息 -->
  <select id="selectULogin"  resultType="com.forest.wu.pojo.User">
    select u.*,o.name,uf.*,d.valueName
    from user u, organization o, userfunction uf,dictionary d
    where 1=1

      <if test="parentid != null">
      and u.parentid=o.id
      </if>
      <if test="type != null">
      and  u.type=uf.id
      </if>
      <if test="type != null">
        and   u.type=d.valueId and d.typeCode='userRole'
      </if>

  </select>
   <!--向数据库添加注册信息-->
    <insert id="addLogin" parameterType="com.forest.wu.pojo.User">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="logo != null">
                logo,
            </if>
            <if test="parentid != null">
                parentid,
            </if>
            <if test="type != null">
                type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="logo != null">
                #{logo,jdbcType=VARCHAR},
            </if>
            <if test="parentid != null">
                #{parentid,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>

</mapper>